<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpModules>
      <add name="LongRequestTracker" type="HttpModulePack.LongRequestTracker, HttpModulePack"/>
      <add name="CookieVerifier" type="HttpModulePack.CookieVerifier, HttpModulePack"/>
      <add name="SimpleUrlRewriter" type="HttpModulePack.SimpleUrlRewriter, HttpModulePack"/>
      <add name="SampleHttpModule" type="HttpModulePack.SampleHttpModule, HttpModulePack"/>
    </httpModules>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <add name="LongRequestTracker" type="HttpModulePack.LongRequestTracker, HttpModulePack"/>
      <add name="CookieVerifier" type="HttpModulePack.CookieVerifier, HttpModulePack"/>
      <add name="SimpleUrlRewriter" type="HttpModulePack.SimpleUrlRewriter, HttpModulePack"/>
      <add name="SampleHttpModule" type="HttpModulePack.SampleHttpModule, HttpModulePack"/>
    </modules>
  </system.webServer>
</configuration>
